<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :player_1, style: "display: block" %>
    <%= form.text_field :player_1, class:"form-control", placeholder:"Player 1 Name" %>
  </div>

  <div class="field form-group">
    <%= form.label :player_1_wins, style: "display: block" %>
    <%= form.number_field :player_1_wins, class:"form-control", placeholder:"Wins" %>
  </div>

  <div class="field form-group">
    <%= form.label :player_2, style: "display: block" %>
    <%= form.text_field :player_2, class:"form-control", placeholder:"Player 2 Name" %>
  </div>

  <div class="field form-group">
    <%= form.label :player_2_wins, style: "display: block" %>
    <%= form.number_field :player_2_wins, class:"form-control", placeholder:"Wins" %>
  </div>

  <div>
    <button type="submit" class="btn btn-secondary mt-2">Create Record</button>
  </div>
<% end %>
