<div id="<%= dom_id record %>">
  <p>
    <strong>Player 1:</strong>
    <%= record.player_1 %>
  </p>

  <p>
    <strong>Player 1 wins:</strong>
    <%= record.player_1_wins %>
  </p>

  <p>
    <strong>Player 2:</strong>
    <%= record.player_2 %>
  </p>

  <p>
    <strong>Player 2 wins:</strong>
    <%= record.player_2_wins %>
  </p>

</div>
