<div id="<%= dom_id record %>">

<table class="table table-striped-columns table-bordered table-hover">
  <thead class="table-dark"> 
    <tr>
      <th> Player 1 Name: </th>
      <th> Player 1 Wins: </th>
      <th> Player 2 Name: </th>
      <th> Player 2 Wins: </th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td><%= record.player_1 %></td>
      <td><%= record.player_1_wins %></td>
      <td><%= record.player_2 %></td>
      <td><%= record.player_2_wins %></td>
    </tr>
  </tbody>
</table>


 
</div>
